//=======================================================================================================

// default color
$colorBaseBlue: #2f66f9;
$colorBaseLightBlue: #b7c4e6;
$colorBaseGray: #707070;
$colorBaseLightGray: #bebebe;
$colorBaseWhite: white;
$colorHoverMenuText: #2a2867;
$colorMenuBorder: #707070;
$colorHeader: #000000;
$colorError: #ff0000;
$themes: (
  light: (),
  dark: (),
);
